@import './variables.scss';

body {
  color: $primary-color;
  font-size: $font-size-base;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
}

a {
  color: $secondary-color;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: $primary-color;
}
